.container {
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 50px;
  flex-direction: column;
}

.raum {
display: inline;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:honeydew;
  max-width: 600px; /* Controla el ancho del texto */
}

.raum img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}


.raum a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.linea {
  border: none; 
  height: 2px; 
  background-color:white; 
  margin: 20px 0; /* Espacio superior e inferior */
  width: 80%; /* Ajusta el ancho */
  border-radius: 5px;
}

.foto{
  background: white;
}
@media (max-width: 768px) {
    .raum {
      flex-direction: column; 
      text-align: center;
    }
  }
  


@media (max-widht:960px){
    .raum{
        flex-direction: column;
        text-align: center;
    }
}